

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 80px;
  background-color: #000000;
}

.navbar .line {
  height: 50px;
  width: 1px;
  background-color: #ffffff;
}

.navbar div .logo {
  width: 100px;
  margin-right: 60px;
}

.navbar .grow-list {
  flex: 1;
  margin-left: 20px;
}

.navbar .grow-list .list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.navbar .grow-list .list .list-item {
  margin: 0px 30px;
  color: #ffffff;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.navbar div .button-small {
  background-color: #ba0cc5;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
}

.navbar div .button-small:hover{
  color: #ba0cc5;
  background-color: #ffffff;
 
}

section[aria-label="hero"] {
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 86vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero-heading {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  max-width: 20ch;
  color: #ffffff;
  text-align: center;
  letter-spacing: 2px;
  line-height: 55px;
  padding: 110px 20px 10px 20px;
}

.hero .hero-description {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.hero .button-large {
  background-color: #ba0cc5;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
}

.hero .button-large:hover{
  color: #ba0cc5;
  background-color: #ffffff;
 
}
